{% extends 'base.html.twig' %}

{% block title %}Job list{% endblock %}

{% block body %}
    <table class="table text-center">
        <tr>
            <th class="active text-center">City</th>
            <th class="active text-center">Position</th>
            <th class="active text-center">Company</th>
            <th class="active text-center">Category</th>
            <th class="active text-center">Actions</th>
        </tr>

        {% for job in jobs %}
            <tr>
                <td>{{ job.location }}</td>
                <td>
                    <a href="#">
                        {{ job.position }}
                    </a>
                </td>
                <td>{{ job.company }}</td>
                <td>{{ job.category.name }}</td>
                <td><a href="{{ path('job_show', {id : job.id }) }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}